/************tag selectors****************/
body{
  background-Color:#e0ebe8;
}
hr{
background-Color:white;
border-style: none;
border-top-style:dotted;
border-color:grey;
border-width: 4px;
width: 4%;
}
h1{
  color: #45b2a0;
}
h3{
  color: #fb8d62;
}
h3:hover{
  color: green;
}

/**********************class Selectors**********************************/
.h3{
  color: black;
}

/**********************Id Selectors**********************************/
#heading{
  color:red;
}
#profilepic{
  border-radius:300px;
}
